ul {
  margin: 0;
  max-width: 6.66in; /*https://www.youtube.com/watch?v=WxnN05vOuSM*/
}
p {
  margin: -1mm 0 1mm 3mm;
  max-width: 6.66in;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size:18px;
    color:#444;
    text-align:center
}

h1,h2,h3{line-height:1.2}
